body {background: red !important;}
pre code.close{border-radius:0 !important;border-top:30px solid #7c7caa !important;border-top-right-radius:0 !important;border-top-left-radius:0 !important;border-bottom-right-radius:7px !important;border-bottom-left-radius:7px !important}
